form {
	display: flex;
	flex-direction: column;

	padding-top: calc(var(--padding) * 8);
	align-items: center;
	align-self: baseline;
	gap: var(--padding);
}

::placeholder {
	color: var(--wh);
	opacity: 0.5;
	text-align: center;
}

.input {
	background-color: var(--bly);
	color: var(--wh);
}

.error-hint {
	color: red;
	justify-self: end;
}
