https://angius.itch.io/mothermachine/download/eyJleHBpcmVzIjoxNjg2ODIyMjI5LCJpZCI6Mjg4MTU2fQ%3d%3d.HzDdiPyYBqObm5TofGfOUlsY7xw%3d

form {
	display: flex;
	flex-direction: column;

	padding-top: calc(var(--padding) * 10);
	align-items: center;
	align-self: baseline;
	gap: var(--padding);
}

::placeholder {
	color: var(--wh);
	opacity: 0.5;
	text-align: center;
}

.input {
	background-color: var(--bly);
	color: var(--wh);
}

.error-hint {
	color: red;
	justify-self: end;
}
